.movieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
  position: relative;
}

.movieCardRating {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  border-radius: 100%;
  background-color: black;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  height: 40px;
  width: 40px;
}

.movieCard:hover {
  transform: scale(1.03);
}

.movieCardTitle {
  width: 200px;
  color: white;
  font-weight: bold;
}

.movie-info {
  display: flex;
}

.movie-info-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 13px;
  padding: 10px;
}

.movie-info-description-buttons {
  display: flex;
  flex-direction: row;
  gap: 13px;
  width: 100%;
  justify-content: space-around;
}

.movie-info-description-buttons button {
  width: 40%;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  border: 3px solid black;
}

.movie-info-description-buttons button:hover{
  background-color: black;
  color: white;
}

.movie-info-description {
  margin: auto 0;
}

.modal-image{
  border-radius: 5px;
}